* {
  border: 0px;
  margin: 0px; }

.section1_img {
  background-image: url(Section1_BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#section1 .section {
  background-image: url("path/to/image.jpg");
  /* Replace with path to your background image */
  background-size: cover;
  background-position: center; }

#section1 .big-text {
  font-size: 48px;
  color: #d62424;
  /* Theme color 1 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }

#section1 .small-paragraph {
  font-size: 18px;
  color: #0e0c92;
  /* Theme color 3 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }

#section2 .about-section {
  background-color: #0e0c92;
  padding: 20px;
  color: white; }

#section2 .about-section h2 {
  color: #d62424;
  text-shadow: 1px 1px #0cc021; }

#section2 .about-section p {
  color: #0cc021;
  text-shadow: 1px 1px #d62424; }

#img_card1, #img_card2, #img_card3 {
  min-height: 300px;
  max-height: 500px;
  min-width: 300px;
  max-width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#img_card1 {
  background-image: url(./Cart_Img1.png); }

#img_card2 {
  background-image: url(./Cart_Img2.png); }

#img_card3 {
  background-image: url(./Cart_Img3.png); }

#section3 .services-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0c92;
  padding: 20px; }

#section3 .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0cc021;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

#section3 .service-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #d62424; }

#section3 .service-title {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); }

#section3 .service-description {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

#section5 .container {
  display: flex;
  justify-content: space-between; }

#section5 .left-section {
  width: 50%;
  background-color: #d62424;
  color: #fff;
  padding: 20px; }

#section5 .right-section {
  width: 50%;
  background-color: #0e0c92;
  color: #fff;
  padding: 20px; }

#section5 form {
  margin-top: 20px; }

#section5 label {
  display: block;
  margin-bottom: 5px;
  color: #fff; }

#section5 input[type="text"],
#section5 input[type="email"],
#section5 textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px; }

#section5 input[type="submit"] {
  background-color: #0cc021;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer; }

.footer_AXZCAASD .footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center; }
